$colores: (
    color-body-background: rgb(202, 198, 191),
    color-rest-background: whitesmoke,
    color-nav-background: black,
    color-body-text: black,
    color-contrast-text: white,
    color-border: rgb(112, 112, 112),
    color-tabla: rgb(220, 220, 220),
    color-btn: rgba(224, 56, 63, 1),
    color-btn-finish: green,
);

$colores-dark: (
    color-body-background-dm: rgb(32, 32, 32),
    color-rest-background-dm: black,
    color-nav-background-dm: whitesmoke,
    color-body-text-dm: whitesmoke,
    color-contrast-text-dm: black,
    color-border-dm: rgb(190, 190, 190),
    color-tabla-dm: rgb(34, 33, 33),
);