* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "ReadexPro-Bold";
  src: url("../font/ReadexPro-Bold.ttf");
}

@font-face {
  font-family: "ReadexPro-Light";
  src: url("../font/ReadexPro-Light.ttf");
}

@font-face {
  font-family: "ReadexPro-Medium";
  src: url("../font/ReadexPro-Medium.ttf");
}

@font-face {
  font-family: "ReadexPro-Regular";
  src: url("../font/ReadexPro-Regular.ttf");
}

@import 'variables';
@import 'mixins';
@import 'maps';

/*--------------------------*/

/* INICIO ESTILIZADO PRINCIPAL */

body {
  transition: $delay;
  background-color: map-get($map: $colores, $key: color-body-background);
  min-height: 100vh;
  background-image: url(../img/humo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  width: 100%;
  height: 4.5em;
  padding: 1em;
  background-color: map-get($map: $colores, $key: color-rest-background);
  display: flex;
}

.footer {
  background-color: map-get($map: $colores, $key: color-rest-background);
  font-family: "ReadexPro-Light";
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 6em;
  width: 100%;
  height: auto;
  font-size: 1.5em;

  .tjplogo{
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav1 {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav2 {
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* FIN ESTILIZADO PRINCIPAL */
/* INICIO HEADER */

.dropdown {
  display: none;
}

nav {
  width: 100%;

  ul {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    list-style: none;
    flex-wrap: wrap;

    li {
        a {
        display: flex;
        text-decoration: none;
        font-size: 1.3em;
        &:hover {
            background-color: map-get($map: $colores, $key: color-nav-background);
            padding: 1em;
            margin: -1em;
            border-bottom-left-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
            color: map-get($map: $colores, $key: color-contrast-text);
            transition: all 0.15s;
          }
        }
    }
  }
}

.login {
    img:last-child {
        display: none;
      }
    &:hover img:last-child {
        display: block;
    }
    &:hover img:first-child {
        display: none;
    }
}

.logoinstagram {
    img:last-child {
        display: none;
    }
    &:hover img:last-child {
        display: block;
    }
    &:hover img:first-child {
        display: none;
    }
}

/* FIN HEADER */

/*--------------------------*/

/* INICIO ESTILIZADO FUENTES */

h1 {
  @include h1 (black, 4em);
  font-family: "ReadexPro-Bold";
  text-align: center;
  text-decoration: underline;
}

h2 {
  @include h2 (black, 2.1em);
  font-family: "ReadexPro-Medium";
}

h3 {
  @include h3 (black, 2em);
  font-family: "ReadexPro-Regular";
}

h4 {
  @include h4 (black, 1.5em);
  font-family: "ReadexPro-Regular";
}

p {
  @include p (black, 1.3em);
  font-family: "ReadexPro-Regular";
}

a { 
  @include a (black, 0.7em);
  font-family: "ReadexPro-Regular";
}

/* FIN ESTILIZADO FUENTES */

/*--------------------------*/

/* INICIO ESTILIZADO IMG / VIDEO */

.logos {
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  filter: $shadow;
}

.login {
    img {
        width: 2em;
        height: 2em;
    }
}

.logoinstagram {
    img { 
        width: 2em;
        height: 2em;
    }
}

#logobenoni {
  width: 15em;
  height: 15em;
  filter: $shadow;
}

.logohome {
    figure img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }
    &:hover img {
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }
}

.logotjp{
  width: 8em;
  height: 4em;
}

.logotjpbl{
  width: 8em;
  height: 4em;
  display: none;
}

.imgcuad {
  width: 20em;
  height: 20em;
  filter: $shadow;
}

.imgcuad2 {
  width: 29em;
  height: 29em;
  filter:$shadow;
}

.imgcuad3 {
  width: 20em;
  height: 20em;
  filter: $shadow;
}

.imgcuadgr {
  width: 65em;
  height: 45em;
  filter: $shadow;
}

.imgrect {
  width: 70em;
  height: 20em;
  filter: $shadow;
}

.video {
  width: 50vw;
  height: 30vw;
  filter: $shadow;
}

.videoyt1 {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}

.videoyt {
  width: 50vw;
  height: 30vw;
  filter: $shadow;
}

#videos {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
}

/* FIN ESTILIZADO IMG / VIDEO */

/*--------------------------*/

/* INICIO HOME */

.titulo {
  line-height: 1em;
  text-align: center;
}

.bienvenida {
  padding: 1em;
  text-align: center;
}

.sponsors {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  padding: 2em;

  figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

/* FIN HOME */

/*--------------------------*/

/* INICIO NOSOTROS */

.nosotros {
  margin: 1%;
}

.boxnosotros {
  padding: 1em;
  line-height: 1.5em;
  background-color: map-get($map: $colores, $key: color-rest-background);
  border-style: solid;
  border-color: map-get($map: $colores, $key: color-border);
  margin: 0.5em;
  filter: $shadow;
}

/* FIN NOSOTROS */

/*--------------------------*/

/* INICIO HORARIOS */

.filtro {
  display: none;
}

.horarios {
  margin: 1%;
}

td {
  border: solid 0.05em black;
  padding: 0.5em;
}

.docente {
  background-color: map-get($map: $colores, $key: color-tabla);
}

.martes {
  background-color: map-get($map: $colores, $key: color-tabla);
}

.jueves {
  background-color: map-get($map: $colores, $key: color-tabla);
}

.sabado {
  background-color: map-get($map: $colores, $key: color-tabla);
}

.textohorarios {
  padding-bottom: 1em;
}

table {
  font-family: "ReadexPro-Regular";
  font-size: 1.5em;
  color: map-get($map: $colores, $key: color-body-text);
  column-width: auto;
  border-style: solid;
  border-spacing: 0.5em;
}

.titulotabla {
  font-size: 2em;
  font-family: "ReadexPro-Bold";
}

.tabla {
  padding: 1em;
  background-color: map-get($map: $colores, $key: color-rest-background);
  text-align: center;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: map-get($map: $colores, $key: color-border);
  border-width: 0.5em;
  filter: $shadow;
}

/* FIN HORARIOS */

/*--------------------------*/

/* INICIO PROFESORES */

.tituloprofes {
  margin: 1%;
}

.boxprofes {
  display: grid;
  grid-template-areas:
    "titulo"
    "texto"
    "imagen";
  padding: 1.5em;
  background-color: map-get($map: $colores, $key: color-rest-background);
  border-style: solid;
  border-color: map-get($map: $colores, $key: color-border);
  margin: 1em;
  filter: $shadow;
  
  h2 {
    font-size: 2em;
    grid-area: titulo;
  }
  p {
    padding-top: 1em;
    line-height: 1.3em;
    grid-area: texto;
  }
}

.imagenes1 {
  display: flex;
  justify-content: space-evenly;
  grid-area: imagen;

  figure img {
    -webkit-transform: rotate(15deg) scale(1.1);
    transform: rotate(15deg) scale(1.1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure:hover img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
}

.imagenes2 {
  display: flex;
  justify-content: space-evenly;
  grid-area: imagen;

  figure img {
    -webkit-transform: rotate(15deg) scale(1.1);
    transform: rotate(15deg) scale(1.1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure:hover img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
}

.imagenes3 {
  display: flex;
  justify-content: space-evenly;
  grid-area: imagen;

  figure img {
    -webkit-transform: rotate(15deg) scale(1.1);
    transform: rotate(15deg) scale(1.1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  figure:hover img {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
  }
}

.svgprofes {
  width: 10em;
  height: 10em;
}

#elasticidad {
  width: 10em;
  height: 10em;
  display: none;
}

#resistencia {
  width: 12em;
  height: 12em;
  display: none;
}

#fuerza {
  width: 7em;
  height: 12em;
  display: none;
}

/* FIN PROFESORES */

/*--------------------------*/

/* INICIO SHOP */

.shop {
  margin: 1%;
}

.boxremeras {
  padding: 2em;
  line-height: 2em;
  width: fit-content;
  background-color: map-get($map: $colores, $key: color-rest-background);
  border-style: solid;
  border-color: map-get($map: $colores, $key: color-border);
  margin-top: 2em;
  filter: $shadow;

  figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.tituloremera {
  font-family: "ReadexPro-Bold";
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 1em;
}

.subtitulomerch {
  text-align: center;
}

.remeras {
  width: 20em;
  height: 22em;
}

.botoncompra {
  background-color: map-get($map: $colores, $key: color-btn);
  color: map-get($map: $colores, $key: color-contrast-text);
  padding: 1em;
  border-radius: 0.5em;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  filter: $shadow;
  margin: 0.5em;
  
  &:hover {
    transition: all .3s;
    transform: scale(1.05);
    color: map-get($map: $colores, $key: color-contrast-text);
  }
}

.guiadetalles {
  font-family: "ReadexPro-Regular";
  font-size: 1.5em;
  color: map-get($map: $colores, $key: color-body-text);
}

.precio {
  font-family: "ReadexPro-Regular";
  font-size: 1.5em;
  color: map-get($map: $colores, $key: color-body-text);
  padding-top: 1em;
  padding-bottom: 1em;
}

.selecciontalle {
  font-family: "ReadexPro-Regular";
  font-size: 1.5em;
  color: map-get($map: $colores, $key: color-body-text);
  padding-bottom: 0.5em;
}

.cantidad {
  font-family: "ReadexPro-Regular";
  font-size: 1.5em;
  color: map-get($map: $colores, $key: color-body-text);
}

.finalizarcompra {
  background-color: map-get($map: $colores, $key: color-btn);
  color: map-get($map: $colores, $key: color-contrast-text);
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  text-decoration: none;
  font-family: "ReadexPro-Bold";
  filter: $shadow;

  &:hover {
    background-color: map-get($map: $colores, $key: color-btn-finish);
    color: map-get($map: $colores, $key: color-contrast-text);
    transition: all .3s;
  }
}

.box {
  display: flex;
}

.productos1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productos2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.productos3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* FIN SHOP */

/*--------------------------*/

/* INICIO CARRITO */

.carrito {
  margin: 1%;
}

.subtituloCarrito {
  text-align: center;
}

ul {
  list-style: none;
}

/* FIN CARRITO */

/*--------------------------*/

/* INICIO CONTACTO */

.contacto {
  margin: 1%;
}

.subtituloconsulta {
  padding-bottom: 1em;
  line-height: 2.5em;
}

.cuadroconsulta {
  font-family: "ReadexPro-Regular";
  font-size: 1em;
  color: map-get($map: $colores, $key: color-body-text);
  margin: 1em;
}

.boxcontacto {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2em;
  line-height: 2em;
  background-color: map-get($map: $colores, $key: color-rest-background);
  border-style: solid;
  border-color: map-get($map: $colores, $key: color-border);

  input {
    width: 60%;
  }

  .nombre{
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .apellido {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .telefono {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .email {
    grid-column-start: 2;
    grid-column-end: 3;

    input {
      width: 47.5%;
    }
  }

  .cuadro {
    grid-column-start: 1;
    grid-column-end: 3;
    display: inline-flex;
  }

  textarea {
    width: 70%;
  }

  #terminos {
    grid-column-start: 1;
    grid-column-end: 3;

    input {
      width: 5%;
    }
  }

  .btncontact {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.btncontact {
  display: flex;
  margin: 1em;
}

.btnreset {
  background-color: map-get($map: $colores, $key: color-btn);
  color: map-get($map: $colores, $key: color-contrast-text);
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  justify-content: center;
  margin-right: 4em;

  &:hover {
    transition: all .3s;
    transform: scale(1.1);
    color: map-get($map: $colores, $key: color-contrast-text);
  }
}

.btnsend {
  background-color: map-get($map: $colores, $key: color-btn);
  color:map-get($map: $colores, $key: color-contrast-text);
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  font-size: 1em;
  display: flex;
  justify-content: center;

  &:hover {
    transition: all .3s;
    transform: scale(1.1);
    color: map-get($map: $colores, $key: color-contrast-text);
  }
}

/* FIN CONTACTO */

/*--------------------------*/

/* INICIO REGISTRO - LOGIN */

.logueate {
  margin: 1%;
}

.registro {
  margin: 1%;
}

.login {
  margin: 1%;
}

.boxregistro {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1em;
  line-height: 2.5em;
  background-color: map-get($map: $colores, $key: color-rest-background);
  border-style: solid;
  border-color: map-get($map: $colores, $key: color-border);
}

input {
  width: auto;
}

h4 {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}

.nombre{
  grid-column-start: 1;
  grid-column-end: 2;
}

.apellido {
  grid-column-start: 2;
  grid-column-end: 3;
}

.telefono {
  grid-column-start: 1;
  grid-column-end: 2;
}

.date {
  grid-column-start: 2;
  grid-column-end: 3;
}

.email {
  grid-column-start: 1;
  grid-column-end: 2;
}

.country {
  grid-column-start: 2;
  grid-column-end: 3;
}

.password1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.password2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

#terminos {
  grid-column-start: 1;
  grid-column-end: 3;

  input {
    width: 5%;
  }
}

.btncontact {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-evenly;
}

.boxlogin {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 1em;
  line-height: 2.5em;
  background-color: map-get($map: $colores, $key: color-rest-background);
  border-style: solid;
  border-color: map-get($map: $colores, $key: color-border);
}

form {
  font-family: "ReadexPro-Regular";
  font-size: 1.4em;
  color: map-get($map: $colores, $key: color-body-text);
}

legend {
  font-family: "ReadexPro-Regular";
  font-size: 1.5em;
  color: map-get($map: $colores, $key: color-body-text);
}

label {
  font-family: "ReadexPro-Regular";
  font-size: 1em;
  color: map-get($map: $colores, $key: color-body-text);
  margin: 1em;
}

/* FIN REGISTRO - LOGIN */

/*--------------------------*/

/* INICIO DARKMODE */

.darkmode-toggle {
  background-color: transparent;
  border: none;
  
  img:last-child {
    display: none;
  }
  
  &:hover img:last-child {
    display: block;
  }

  &:hover img:first-child {
    display: none;
  }

  .swapper {
    width: 2em;
    height: 2em;
    
    &:hover {
      background-color: $color-nav-background;
      border-radius: 0.5em;
      transition: all 0.15s;
      transform: scale(1.3);
    }
  }
}

body.dark {
  background-color: map-get($map: $colores-dark, $key: color-body-background-dm);
  transition: $delay;
/* INICIO ESTILIZADO PRINCIPAL */
  .darkmode-toggle {

    img:first-child {
      display: none;
    }

    img:last-child {
      display: block;
    }
    
    &:hover img:last-child {
      display: none;
    }
  
    &:hover img:first-child {
      display: block;
    }

    .swapper:hover{
      background-color: $color-nav-background-dm;
      color: rgb(0, 0, 0);
    }
  }

  .header {
    background-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
  }

  .footer {
    background-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
  }
/* FIN ESTILIZADO PRINCIPAL */
/* INICIO HEADER */
  nav ul li a:hover{
    background-color: map-get($map: $colores-dark, $key: color-nav-background-dm);
    color: map-get($map: $colores-dark, $key: color-contrast-text-dm);      
  }

  .login {
    img:last-child {
      display: block;
    }
    img:first-child {
        display: none;
    }
    &:hover img:first-child {
        display: block;
    }
    &:hover img:last-child {
        display: none;
    }
}

.logoinstagram {
  img:last-child {
    display: block;
  }
  img:first-child {
      display: none;
  }
  &:hover img:first-child {
      display: block;
  }
  &:hover img:last-child {
      display: none;
  }
}
/* FIN HEADER */
/* INICIO ESTILIZADO FUENTES */
  h1 {
    color: $color-body-text-dm;
  }

  h2{
    color: $color-body-text-dm;
  }

  h3{
    color: $color-body-text-dm;
  }

  h4{
    color: $color-body-text-dm;
  }

  p{
    color: $color-body-text-dm;
  }
  
  a{
    color: $color-body-text-dm;
  }
  /* FIN ESTILIZADO FUENTES */
/* INICIO ESTILIZADO IMG / VIDEO */
  .logos {
    filter: $shadow-dm,
  }

  #logobenoni {
    filter: $shadow-dm;
  }

  .logotjp {
    display: none;
  }

  .logotjpbl{
    display: block;
  }

  .imgcuad {
    filter: $shadow-dm;
  }
  
  .imgcuad2 {
    filter: $shadow-dm;
  }
  
  .imgcuad3 {
    filter: $shadow-dm;
  }
  
  .imgcuadgr {
    filter: $shadow-dm;
  }
  
  .imgrect {
    filter: $shadow-dm;
  }
  
  .video {
    filter: $shadow-dm;
  }

  .videoyt {
    filter: $shadow-dm;
  }  
/* FIN ESTILIZADO IMG / VIDEO */
/* INICIO NOSOTROS */
.boxnosotros {
  background-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
  border-color: map-get($map: $colores-dark, $key: color-border-dm);
  filter: $shadow-dm;
}
/* FIN NOSOTROS */
/* INICIO HORARIOS */
table {
  color: map-get($map: $colores-dark, $key: color-body-text-dm);
}

.tabla {
  background-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
  border-color: map-get($map: $colores-dark, $key: color-border-dm);
  filter: $shadow-dm;
}

.docente {
  background-color: map-get($map: $colores-dark, $key: color-tabla-dm);
}

.martes {
  background-color: map-get($map: $colores-dark, $key: color-tabla-dm);
}

.jueves {
  background-color: map-get($map: $colores-dark, $key: color-tabla-dm);
}

.sabado {
  background-color: map-get($map: $colores-dark, $key: color-tabla-dm);
}
/* FIN HORARIOS */
/* INICIO PROFESORES */
.boxprofes {
  background-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
  border-color: map-get($map: $colores-dark, $key: color-border-dm);
  filter: $shadow-dm;
}
/* FIN PROFESORES */
/* INICIO SHOP */
.boxremeras {
  background-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
  border-color: map-get($map: $colores-dark, $key: color-border-dm);
  filter: $shadow-dm;
}

.botoncompra {
  filter: $shadow-dm;
}

.finalizarcompra {
  filter: $shadow-dm;
}
/* FIN SHOP */
/* INICIO CONTACTO */
label {
  color: map-get($map: $colores-dark, $key: color-body-text-dm);
}

.boxcontacto {
  background-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
  border-color: map-get($map: $colores-dark, $key: color-border-dm);
}
/* FIN CONTACTO */
/* INICIO REGISTRO - LOGIN */
.boxregistro {
  background-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
  border-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
}

.boxlogin {
  background-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
  border-color: map-get($map: $colores-dark, $key: color-rest-background-dm);
}
/* FIN REGISTRO - LOGIN */
}
/* FIN DARKMODE */

/* INICIO MEDIA */
@media (max-width: 1440px) {
  /* ESCRITORIO GRANDE */

  .darkmode-toggle {

    .swapper {
      display: block;
    }
  }

  /* PARAMETROS GENERALES */
  .header {
    width: 100%;
    height: 3.5em;
    padding: 0.8em;
  }

  .footer {
    height: auto;
    font-size: 1.3em;
  }
  /* FIN PARAMETROS GENERALES */
  /* INICIO ESTILIZADO FUENTES */

  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1.2em;
  }

  li {
    font-size: 0.9em;
  }

  /* FIN ESTILIZADO FUENTES */
  /* INICIO ESTILIZADO IMG / VIDEO */

  .logoinstagram img {
    width: 1.8em;
    height: 1.8em;
  }

  .login img {
    width: 1.8em;
    height: 1.8em;
  }

  #logobenoni {
    width: 13.5em;
    height: 13.5em;
  }

  .imgcuad {
    width: 16em;
    height: 16em;
  }

  .imgcuad2 {
    width: 23em;
    height: 23em;
  }

  .imgcuad3 {
    width: 16em;
    height: 16em;
  }

  .imgcuadgr {
    width: 50em;
    height: 35em;
  }

  .imgrect {
    width: 60em;
    height: 15em;
  }

  .video {
    width: 50vw;
    height: 30vw;
  }

  .videoyt {
    width: 50vw;
    height: 30vw;
  }

  /* FIN ESTILIZADO IMG / VIDEO */
  /* INICIO HORARIOS */

  table {
    font-size: 1.2em;
    border-spacing: 0.5em;
  }

  .titulotabla {
    font-size: 1.8em;
  }

  /* FIN HORARIOS */
  /* INICIO PROFESORES */

  .boxprofes h2 {
    font-size: 1.7em;
  }

  .boxprofes p {
    line-height: 1.2em;
  }

  /* FIN PROFESORES */
  /* INICIO SHOP */

  .boxremeras {
    padding: 1em;
    line-height: 1.5em;
    margin-top: 1.4em;
  }

  .tituloremera {
    font-size: 2em;
    padding-bottom: 0.5em;
  }

  .remeras {
    width: 18em;
    height: 20em;
  }

  .botoncompra {
    padding: 0.8em;
    border-radius: 0.5em;
    font-size: 1.2em;
  }

  .guiadetalles {
    font-size: 1.2em;
  }

  .precio {
    font-size: 1.2em;
  }

  .selecciontalle {
    font-size: 1.2em;
    padding-bottom: 0.3em;
  }

  .cantidad {
    font-size: 1.2em;
    margin-top: 0.5em;
  }

  .finalizarcompra {
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.2em;
    margin-top: 1em;
  }

  /* FIN SHOP */
  /* INICIO CARRITO */



  /* FIN CARRITO */
  /* INICIO CONTACTO */

  .subtituloconsulta {
    padding-bottom: 1em;
    line-height: 2.1em;
  }

  .cuadroconsulta {
    font-size: 1em;
  }

  .boxcontacto {
    padding: 1em;
    line-height: 2em;
    font-size: 1em;
  }

  /* FIN CONTACTO */
  /* INICIO REGISTRO - LOGIN */

  form {
    font-size: 1em;
  }

  /* FIN REGISTRO - LOGIN */
}

@media (max-width: 1024px) {
  /* ESCRITORIO CHICO */

  .darkmode-toggle{
    .swapper {
      width: 1.5em;
      height: 1.5em;
    }
  }

  /* PARAMETROS GENERALES */
  .header {
    width: 100%;
    height: 3em;
  }

  .footer {
    height: auto;
    font-size: 1em;
  }
  /* FIN PARAMETROS GENERALES */

  /* INICIO ESTILIZADO FUENTES */

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1em;
  }

  h4 {
    font-size: 1em;
  }

  p {
    font-size: 1em;
  }

  li {
    font-size: 0.7em;
  }

  /* FIN ESTILIZADO FUENTES */
  /* INICIO ESTILIZADO IMG / VIDEO */

  .logoinstagram img {
    width: 1.5em;
    height: 1.5em;
  }

  .login img {
    width: 1.5em;
    height: 1.5em;
  }

  #logobenoni {
    width: 10em;
    height: 10em;
  }

  .imgcuad {
    width: 13em;
    height: 13em;
  }

  .imgcuad2 {
    width: 18em;
    height: 18em;
  }

  .imgcuad3 {
    width: 13em;
    height: 13em;
  }

  .imgcuadgr {
    width: 40em;
    height: 27em;
  }

  .imgrect {
    width: 50em;
    height: 13em;
  }

  .video {
    width: 50vw;
    height: 30vw;
  }

  .videoyt {
    width: 50vw;
    height: 30vw;
  }

  /* FIN ESTILIZADO IMG / VIDEO */
  /* INICIO HORARIOS */

  table {
    font-size: 1em;
  }

  .titulotabla {
    font-size: 1.5em;
  }

  /* FIN HORARIOS */
  /* INICIO PROFESORES */

  .boxprofes {
    h2 {
        font-size: 1.5em;
      }
    
    p {
        line-height: 1em;
    }

  }

  .svgprofes {
    width: 7em;
    height: 7em;
  }

  /* FIN PROFESORES */
  /* INICIO SHOP */

  .boxremeras {
    padding: 0.6em;
    line-height: 1.3em;
    margin-top: 1em;
  }

  .tituloremera {
    font-size: 1.8em;
    padding-bottom: 0.5em;
  }

  .remeras {
    width: 15em;
    height: 17em;
  }

  .botoncompra {
    padding: 0.6em;
    font-size: 1em;
  }

  .guiadetalles {
    font-size: 1em;
  }

  .precio {
    font-size: 1em;
  }

  .selecciontalle {
    font-size: 1em;
    padding-bottom: 0.2em;
  }

  .cantidad {
    font-size: 1em;
    margin-top: 0.3em;
  }

  .finalizarcompra {
    padding: 0.8em;
    font-size: 1.1em;
    margin-top: 1em;
  }

  /* FIN SHOP */
  /* INICIO CONTACTO */

  .subtituloconsulta {
    line-height: 1.8em;
  }

  /* FIN CONTACTO */
}

@media (max-width: 810px) {
  /* TABLET GRANDE*/

  .darkmode-toggle { 
    grid-area: darkmode;
    display: flex;
    justify-content: end;
    
    .swapper {
      width: 2em;
      height: 2em;
    }
  }

  body.dark {
        
    .darkmode-toggle {  
      grid-area: darkmode;
      display: flex;
      justify-content: end;

      img:last-child {
        display: block;
      }
    } 

    .imgbtnmenu {
      display: none;
    }

    .imgbtnmenubl {
      display: block;
      width: 2.7em;
      height: 3em;
    }

    #dropdownMenuButton1 {
      width: 2.7em;
      height: 3em;
    }

    .dropdown-menu {
      background-color: rgb(0, 0, 0);
      border: solid whitesmoke;
      border-top: black;
    }
    .header {
      border-bottom: solid whitesmoke;
    }
  }

  /* PARAMETROS GENERALES */

  .header {
    width: 100%;
    height: 3.8em;
    display: grid;
    grid-template-areas: "logo darkmode menu";
    grid-template-rows: 1%;
    border-bottom: solid rgb(116, 116, 116);
  }

  .footer {
    height: auto;
    font-size: 1em;
  }
  /* FIN PARAMETROS GENERALES */

  /* INICIO ESTILIZADO NAV */

  .dropdown {
    display: flex;
    justify-content: end;
    cursor: pointer;
    grid-area: menu;
    margin-top: -0.3em;
  }

  #dropdownMenuButton1 {
    color: transparent;
    background-color: transparent;
    border: none;
    font-size: 1em;
    padding: 0%;
    width: 2.7em;
    height: 3em;
  }

  .dropdown-menu {
    font-size: 2.5em;
    text-align: center;
    background-color: whitesmoke;
    border: solid rgb(116, 116, 116);
    border-top: none;
    border-radius: 0em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }

  nav {
    display: none;
  }

  /* FIN ESTILIZADO NAV */
  /* INICIO ESTILIZADO IMG / VIDEO */

  .logotjp{
    width: 6em;
    height: 3em;
  }
  
  .logotjpbl{
    width: 6em;
    height: 3em;
  }

  #logobenoni {
    width: 15em;
    height: 15em;
  }

  .imgcuad {
    width: 10em;
    height: 10em;
  }

  .imgcuad2 {
    width: 15em;
    height: 15em;
  }

  .imgcuad3 {
    width: 11em;
    height: 11em;
  }

  .imgcuadgr {
    width: 70vw;
    height: 45vw;
  }

  .imgrect {
    width: 30em;
    height: 9em;
  }

  .video {
    width: 100%;
    height: 100%;
  }

  .videoyt {
    width: 88vw;
    height: 50vw;
    margin-top: 0.5em;
  }

  .imgbtnmenu {
    width: 2.7em;
  }

  .imgbtnmenubl {
    display: none;
    width: 2.7em;
  }

  /* FIN ESTILIZADO IMG / VIDEO */
  /* INICIO HOME*/

  .titulo {
    display: grid;
    margin-top: 2em;
  }

  #videos {
    display: block;
  }

  /* FIN HOME*/
  /* INICIO NOSOTROS*/

  .nosotros {
    margin-top: 5em;
  }

  .boxnosotros {
    text-align: justify;
  }

  /* FIN NOSOTROS*/
  /* INICIO HORARIOS */

  .horarios {
    margin-top: 4em;
  }

  table {
    font-size: 1em;
  }

  .titulotabla {
    font-size: 1.5em;
  }

  /* FIN HORARIOS */
  /* INICIO PROFESORES */

  .mainprofes {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(3, 17em);
    grid-template-rows: auto auto auto;
  }

  .tituloprofes {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .tarjetasprofes1 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .tarjetasprofes2 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .tarjetasprofes3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .logos {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .boxprofes {
    height: 35em;

    h2 {
        font-size: 1.5em;
        line-height: 1em;
        text-align: center;
      }
    p {
        line-height: 1.5em;
        text-align: center;
    }
  }

  .imagenes1 {
    display: none;
  }

  .imagenes2 {
    display: none;
  }

  .imagenes3 {
    display: none;
  }

  #elasticidad {
    display: flex;
  }

  #resistencia {
    display: flex;
  }

  #fuerza {
    display: flex;
  }

  /* FIN PROFESORES */
  /* INICIO SHOP */

  .shop {
    margin-top: 4em;
  }

  .boxremeras {
    padding: 0.6em;
    line-height: 1.3em;
    margin-top: 1em;
  }

  .tituloremera {
    font-size: 1.8em;
    padding-bottom: 0.5em;
  }

  .remeras {
    width: 15em;
    height: 17em;
  }

  .botoncompra {
    padding: 0.6em;
    font-size: 1em;
  }

  .guiadetalles {
    font-size: 1em;
  }

  .precio {
    font-size: 1em;
  }

  .selecciontalle {
    font-size: 1em;
    padding-bottom: 0.2em;
  }

  .cantidad {
    font-size: 1em;
    margin-top: 0.3em;
  }

  .finalizarcompra {
    padding: 0.8em;
    font-size: 1.1em;
    margin-top: 1em;
  }

  /* FIN SHOP */
  /* INICIO CARRITO */

  .carrito {
    margin-top: 4em;
  }

  /* FIN CARRITO */
  /* INICIO CONTACTO */

  .contacto {
    margin-top: 4em;
  }

  .subtituloconsulta {
    line-height: 1.8em;
  }

  .boxcontacto {
    font-size: 1em;
  }

  .btncontact {
    justify-content: center;
  }

  /* FIN CONTACTO */
  /* INICIO REGISTRO */

  .registro {
    margin-top: 4em;
  }

  .boxregistro {
    font-size: 1em;
    
    input {
      width: 40%;
    }
  }

  /* INICIO REGISTRO */
  /* INICIO LOGIN */

  .logueate {
    margin-top: 6em;
  }

  .boxlogin {
    font-size: 1em;

    input {
      width: 40%;
    }
  }
  /* FIN LOGIN */
}

@media (max-width: 540px) {
  /* TABLET CHICA */

  .darkmode-toggle {
    grid-area: darkmode;
    display: flex;
    justify-content: end;
  }

  body.dark {
    .darkmode-toggle {
      grid-area: darkmode;
      display: flex;
      justify-content: end;
    }

    .imgbtnmenu {
      display: none;
    }

    .imgbtnmenubl {
      display: block;
      width: 2.7em;
      height: 3em;
    }

    #dropdownMenuButton1 {
      width: 2.7em;
      height: 3em;
    }

    .dropdown-menu {
      background-color: rgb(0, 0, 0);
      border: solid whitesmoke;
      border-top: black;
    }
    .header {
      border-bottom: solid whitesmoke;
    }
  }

  /* PARAMETROS GENERALES */

  .footer {
    height: auto;
    display: grid;
    grid-template-columns: auto auto;

    .tjplogo {
      grid-column-start: 1;
      grid-column-end: 2;
      align-items: flex-end;
    }

    .nav1{
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .nav2{
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
  /* FIN PARAMETROS GENERALES */

  /* INICIO ESTILIZADO NAV */

  .dropdown-menu {
    font-size: 2.3em;
  }

  /* FIN ESTILIZADO NAV */
  /* INICIO ESTILIZADO IMG / VIDEO */

  .logotjp{
    width: 6em;
    height: 3em;
  }
  
  .logotjpbl{
    width: 6em;
    height: 3em;
  }

  #logobenoni {
    width: 12em;
    height: 12em;
  }

  .imgcuad {
    width: 15em;
    height: 15em;
    margin-top: 1em;
  }

  .imgcuad2 {
    width: 15em;
    height: 15em;
  }

  .imgcuad3 {
    width: 11em;
    height: 11em;
  }

  .imgrect {
    width: 40em;
    height: 10em;
  }

  .video {
    width: 100%;
    height: auto;
  }

  .videoyt {
    width: 88vw;
    height: 50vw;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  /* FIN ESTILIZADO IMG / VIDEO */
  /* INICIO HOME*/

  .cuerpo {
    display: grid;
    grid-template-rows: repeat(5, auto);
  }

  .titulo {
    margin-top: 4em;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .bienvenida {
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  #videos {
    display: block;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  /* FIN HOME*/
  /* INICIO NOSOTROS*/

  .nosotros {
    margin-top: 4em;
  }

  .boxnosotros {
    text-align: justify;
  }

  /* FIN NOSOTROS*/
  /* INICIO HORARIOS */

  .horarios {
    margin-top: 6em;
  }

  /* FIN HORARIOS */
  /* INICIO PROFESORES */

  .mainprofes {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 33em;
    grid-template-areas:
      "titulo"
      "tarjeta1"
      "tarjeta2"
      "tarjeta3"
      "logo";
  }

  .tituloprofes {
    grid-area: titulo;
    text-align: center;
  }

  .tarjetasprofes1 {
    grid-area: tarjeta1;
  }

  .tarjetasprofes2 {
    grid-area: tarjeta2;
  }

  .tarjetasprofes3 {
    grid-area: tarjeta3;
  }

  .logos {
    grid-area: logo;
  }

  .imgcuadgr {
    width: 70vw;
    height: 50vw;
  }

  .boxprofes {
    img {
        display: block;
        margin: auto;
      }

    h2 {
        font-size: 1.5em;
        line-height: 1em;
        text-align: center;
    }

    p {
        line-height: 1.5em;
        text-align: center;
    }
  }

  /* FIN PROFESORES */
  /* INICIO SHOP */

  .finalizarcompra {
    padding: 0.8em;
    font-size: 1.1em;
  }

  /* FIN SHOP */
  /* INICIO CONTACTO */

  .contacto {
    margin-top: 6em;
  }

  .boxcontacto {
    font-size: .8em;
    input {
      width: 40%;
    }
    .email {
      input {
        width: 40%;
      }
    }
  }

  /* FIN CONTACTO */
  /* INICIO REGISTRO */

  .registro {
    margin-top: 6em;
  }

  .boxregistro {
    font-size: .7em;
    input {
      width: 41%;
    }
  }

  /* INICIO REGISTRO */
  /* INICIO LOGIN */

  .boxlogin {
    font-size: .8em;
    input {
      width: 40%;
    }
  }

  /* FIN LOGIN */
}

@media (max-width: 428px) {
  /* CELULAR GRANDE */

  .darkmode-toggle {
      grid-area: darkmode;
      display: flex;
      justify-content: end;
  }
  

  body.dark {
    .darkmode-toggle {
    grid-area: darkmode;
    display: flex;
    justify-content: end;
  }
  }
  /* PARAMETROS GENERALES */

  .footer {
    height: auto;
  }
  /* FIN PARAMETROS GENERALES */

  /* INICIO ESTILIZADO NAV */

  .dropdown-menu {
    font-size: 2.2em;
  }

  /* FIN ESTILIZADO NAV */
  /* INICIO ESTILIZADO IMG / VIDEO */

  .imgrect {
    width: 32em;
    height: 8em;
  }

  /* FIN ESTILIZADO IMG / VIDEO */
  /* INICIO HOME*/

  .titulo {
    margin-top: 5em;
  }

  /* FIN HOME*/
  /* INICIO NOSOTROS*/

  .nosotros {
    margin-top: 5em;
  }

  /* FIN NOSOTROS*/
  /* INICIO HORARIOS */

  .textohorarios {
    text-align: center;
  }

  .horarios {
    margin-top: 6em;
  }

  /* FIN HORARIOS */
  /* INICIO PROFESORES */

  .mainprofes {
    margin-top: 4em;
    display: grid;
    grid-template-columns: auto;
  }

  /* FIN PROFESORES */
  /* INICIO SHOP */

  .remeras {
    width: 12em;
    height: 12em;
  }

  .boxremeras {
    margin-top: 2em;
  }

  .finalizarcompra {
    padding: 0.8em;
    font-size: 1em;
  }

  /* FIN SHOP */
    /* INICIO CARRITO */

    .carrito {
      margin-top: 5em;
    }
  
    /* FIN CARRITO */
  /* INICIO CONTACTO */

  .contacto {
    margin-top: 5em;
  }

  .boxcontacto {
    font-size: 1em;
    display: flex;
    flex-direction: column;

    input{
      width: 45%;
    }

    .btncontact{
      font-size: .8em
    }
  }

  #terminos {
    text-align: center;
  }

  /* FIN CONTACTO */
  /* INICIO REGISTRO */

  .registro {
    margin-top: 5em;
  }

  .boxregistro {
    font-size: 1em;
    display: flex;
    flex-direction: column;

    input{
      width: 40%;
    }

    .btncontact{
      font-size: .7em
    }
  }

  /* INICIO REGISTRO */
  /* INICIO LOGIN */

  .boxlogin {
    font-size: 1em;
    display: flex;
    flex-direction: column;

    input{
      width: 45%;
    }
    
    .btncontact{
      font-size: .8em
    }
  }

  /* FIN LOGIN */
}

@media (max-width: 390px) {
  /* PARAMETROS GENERALES */

  .darkmode-toggle {
    grid-area: darkmode;
    display: flex;
    justify-content: end;
  }

  body.dark {
    .darkmode-toggle {
    grid-area: darkmode;
    display: flex;
    justify-content: end;
  }
  }

  .footer {
    height: auto;
    font-size: 0.8em;
  }
  /* FIN PARAMETROS GENERALES */
  /* INICIO ESTILIZADO IMG / VIDEO */

  .imgrect {
    width: 28em;
    height: 7em;
  }

  /* FIN ESTILIZADO IMG / VIDEO */
  /* INICIO NOSOTROS*/

  .nosotros {
    margin-top: 6em;
  }

  .imgcuad2 {
    width: 10em;
    height: 10em;
  }

  .imgcuad3 {
    width: 7em;
    height: 7em;
  }

  /* FIN NOSOTROS*/
  /* INICIO HORARIOS */

  .textohorarios {
    font-size: 0.9em;
  }

  .horarios {
    margin-top: 6em;
  }

  /* FIN HORARIOS */
  /* INICIO PROFESORES */

  .mainprofes {
    margin-top: 4em;
    display: grid;
    grid-template-columns: auto;
  }

  /* FIN PROFESORES */
  /* INICIO SHOP */

  .shop {
    margin-top: 6em;
  }

  .boxremeras {
    width: auto;
  }

  .remeras {
    width: 10.5em;
    height: 10.5em;
    margin-left: auto;
  }  

  .finalizarcompra {
    margin-right: 0.3em;
  }

  /* FIN SHOP */
  /* INICIO CONTACTO */

  .contacto {
    margin-top: 6em;
  }

  .boxcontacto {
    font-size: 0.7em;
  }

  /* FIN CONTACTO */
  /* INICIO REGISTRO */

  .registro {
    margin-top: 6em;
  }

  /* FIN REGISTRO */
  /* INICIO LOGIN */

  .logueate {
    margin-top: 6em;
  }

  .boxlogin {
    font-size: 0.7em;
  }

  /* FIN LOGIN */
}
/* FIN MEDIA */

/*--------------------------*/

